<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Birth date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="playerData">
      <th scope="row">{{ playerData[0] }}</th>
      <td>{{ playerData[1] }}</td>
      <td>{{ playerData[2] }}</td>
      <td>{{ playerData[6] | date }}</td>
    </tr>
  </tbody>
</table>
















<!-- All fetched information from the api -->
<!-- <a class="list-group-item list-group-item-action clearfix badge-light mb-1" routerLinkActive="active">
  <div class="row">


    <div class="col-6">

      <ul class="list-group">
        <li class="list-group-item">ID: {{ player[0] }}</li>
        <li class="list-group-item font-weight-bold">{{ player[1] }}</li>
        <li class="list-group-item">Team ID: {{ player[2] }}</li>
        <li class="list-group-item">TEAM: {{ player[3] }}</li>
        <li class="list-group-item font-weight-bold">Age: {{ player[4] }}</li>
        <li class="list-group-item">Height: {{ player[5] }}{{ player[6] }}</li>
        <li class="list-group-item">Weight: {{ player[7] }}</li>
        <li class="list-group-item">College: {{ player[8] }}</li>
        <li class="list-group-item">Country: {{ player[9] }}</li>
        <li class="list-group-item">Draft Year: {{ player[10] }}</li>
        <li class="list-group-item">Draft round and number: {{ player[11] }}-{{ player[12] }}</li>
      </ul>

    </div>

    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item">Games Played: {{ player[13] }}</li>
        <li class="list-group-item">Points: {{ player[14] }}</li>
        <li class="list-group-item">Rebounds: {{ player[15] }}</li>
        <li class="list-group-item">Assists: {{ player[16] }}</li>
        <li class="list-group-item">Net Rating: {{ player[17] }}</li>
        <li class="list-group-item">OREB PCT: {{ player[18] }}{{ player[6] }}</li>
        <li class="list-group-item">DREB PCT: {{ player[18] }}</li>
        <li class="list-group-item">USG PCT: {{ player[8] }}</li>
        <li class="list-group-item">TS PCT: {{ player[9] }}</li>
        <li class="list-group-item">AST PCT: {{ player[10] }}</li>

      </ul>
    </div>
  </div>
</a> -->
